<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.thoughtworks.ketsu.infrastructure.mybatis.mappers.OrderMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="info.id">
        INSERT INTO orders (user_id, name, address, phone, total_price)
        VALUES (#{info.userId}, #{info.name}, #{info.address}, #{info.phone}, 0)
    </insert>

    <select id="findById" resultMap="records.order" >
        SELECT * FROM orders
        WHERE orders.id = #{id}
    </select>

</mapper>
