<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.thoughtworks.ketsu.infrastructure.mybatis.mappers.OrderMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="info.id">
        INSERT INTO orders (user_id, name, address, phone, total_price)
        VALUES (#{info.userId}, #{info.name}, #{info.address}, #{info.phone}, #{info.totalPrice});

        SET @LAST_INSERT_ORDER_ID = LAST_INSERT_ID();

        INSERT INTO orderitems (order_id, product_id, quantity, amount)
        VALUES
        <foreach collection="info.orderItems" item="item" separator=",">
            (@LAST_INSERT_ORDER_ID, #{item.productId}, #{item.quantity}, #{item.amount})
        </foreach>
    </insert>

    <!--<select id="findById" resultMap="records.order" >-->
        <!--SELECT * FROM orders-->
        <!--WHERE orders.id = #{id}-->
    <!--</select>-->

    <select id="findById" resultMap="records.order" >
        SELECT
        O.id AS id,
        O.name AS name,
        O.address AS address,
        O.phone AS phone,
        O.total_price AS total_price,
        O.time AS time,
        O.id AS order_id,
        I.product_id AS product_id,
        I.quantity AS quantity,
        I.amount AS amount

        FROM orderitems I
        INNER JOIN orders O
        ON I.order_id = O.id
        WHERE O.id = #{id}
    </select>

</mapper>
